<div class="card boarder-0 box-shadow">
  <div class="card-header transparent boarder-0 text-muted">
    <div class="row">
      <div class="col text-left">
        <h4>Logs</h4>
      </div>
    </div>
  </div>
  <div clss="card-body">
    <div class="col-12">
      <div class="clearfix">
        <ul class="nav nav-tabs custom top">
          <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#ta">Player Error Logs</a>
          </li>
        </ul>
      </div>
      <div class="tab-content top">
        <div class="tab-pane active" id="ta">
          <app-dump-content></app-dump-content>
        </div>

      </div>
    </div>
  </div>
</div>
