.grid-list .grid-item .min {
    min-width: 127px;
    color: #0000c7!important
}
.grid-list .grid-item .action {
  min-width: 10px
}

// .list-data-body{
//     overflow-x: scroll;
// }
// .grid-list .grid-item{
//     display: inline-block !important;
// }

// .name , .date , .action , .status{
//     display: inline-block !important;
// }